<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Agenses</h1>
    <div class="menu">
      <button mat-icon-button>
        <mat-icon>group</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon [routerLink]="['availability-form']">person</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
